<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    android:versionCode="1" 
    android:versionName="0.6" 
    package="com.rushucloud.reim" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>	    
	<uses-permission android:name="android.permission.GET_TASKS"/>
	<uses-permission android:name="android.permission.SET_DEBUG_APP"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <application 
        android:allowBackup="true" 
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:name="classes.ReimApplication" 
        android:theme="@style/AppTheme" >
        
        <activity android:name="com.rushucloud.reim.start.SplashActivity"
            android:theme="@style/AppSplash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.rushucloud.reim.start.NewFeaturesActivity" />
        <activity android:name="com.rushucloud.reim.start.WelcomeActivity" />
        <activity android:name="com.rushucloud.reim.start.SignInActivity" />
        <activity android:name="com.rushucloud.reim.start.PhoneSignUpActivity" />
        <activity android:name="com.rushucloud.reim.start.EmailSignUpActivity" />
        <activity android:name="com.rushucloud.reim.start.PhoneFindActivity" />
        <activity android:name="com.rushucloud.reim.start.EmailFindActivity" />
        <activity android:name="com.rushucloud.reim.start.ResetPasswordActivity" />
        <activity android:name="com.rushucloud.reim.start.CompleteInfoActivity" />
        
        <activity android:name="com.rushucloud.reim.MainActivity" android:launchMode="singleTop" />
        
        <activity android:name="com.rushucloud.reim.GalleryActivity" />
        <activity android:name="com.rushucloud.reim.MultipleImageActivity" />
        <activity android:name="com.rushucloud.reim.SingleImageActivity" />
        
        <activity android:name="com.rushucloud.reim.item.EditItemActivity" />
        <activity android:name="com.rushucloud.reim.item.ShowItemActivity" />
        <activity android:name="com.rushucloud.reim.item.SearchItemActivity" />
        <activity android:name="com.rushucloud.reim.item.PickVendorActivity" />
        <activity android:name="com.rushucloud.reim.item.PickLocationActivity" />
        <activity android:name="com.rushucloud.reim.item.PickCategoryActivity" />
        <activity android:name="com.rushucloud.reim.item.PickTagActivity" />
        <activity android:name="com.rushucloud.reim.item.PickMemberActivity" />
        
        <activity android:name="com.rushucloud.reim.report.EditReportActivity" />
        <activity android:name="com.rushucloud.reim.report.PickManagerActivity" />
        <activity android:name="com.rushucloud.reim.report.PickCCActivity" />
        <activity android:name="com.rushucloud.reim.report.ApproveReportActivity" />
        <activity android:name="com.rushucloud.reim.report.ShowReportActivity" />        
        <activity android:name="com.rushucloud.reim.report.CommentActivity" />
        <activity android:name="com.rushucloud.reim.report.PickItemsActivity" />
        <activity android:name="com.rushucloud.reim.report.ApproveInfoActivity" />
        <activity android:name="com.rushucloud.reim.report.FollowingActivity" />
        
        <activity android:name="com.rushucloud.reim.me.ProfileActivity" />
        <activity android:name="com.rushucloud.reim.me.EmailActivity" />
        <activity android:name="com.rushucloud.reim.me.PhoneActivity" />
        <activity android:name="com.rushucloud.reim.me.NicknameActivity" />
        <activity android:name="com.rushucloud.reim.me.InvoiceTitleActivity" />
        <activity android:name="com.rushucloud.reim.me.ChangePasswordActivity" />        
        <activity android:name="com.rushucloud.reim.me.ManagerActivity" />        
        <activity android:name="com.rushucloud.reim.me.CategoryActivity" />
        <activity android:name="com.rushucloud.reim.me.SubCategoryActivity" />
        <activity android:name="com.rushucloud.reim.me.EditCategoryActivity" />
        <activity android:name="com.rushucloud.reim.me.TagActivity" />
        <activity android:name="com.rushucloud.reim.me.EditTagActivity" />
        <activity android:name="com.rushucloud.reim.me.SendInviteActivity" />        
        <activity android:name="com.rushucloud.reim.me.MessageActivity" />
        <activity android:name="com.rushucloud.reim.me.MessageDetailActivity" />
        <activity android:name="com.rushucloud.reim.me.SettingsActivity" />        
        <activity android:name="com.rushucloud.reim.me.AboutActivity" />
        <activity android:name="com.rushucloud.reim.me.FeedbackActivity" />
        
        <!-- #######################  友盟UmengAppkey  ####################### -->
	    <meta-data
	        android:name="UMENG_APPKEY" 
	        android:value="543bf20efd98c544b9002d11" >
	    </meta-data>
	    
	    <!-- 推广渠道，Wandoujia之类的 
	    <meta-data
	        android:name="UMENG_CHANNEL" 
	        android:value="Wandoujia" >
	    </meta-data>-->
	    
        <!-- ###################注册SDK使用的Activity###################### -->
		<activity 
		    android:configChanges="orientation|keyboard" 
		    android:launchMode="singleTask" 
		    android:name="com.umeng.socialize.view.ShareActivity" 
		    android:noHistory="true" 
		    android:theme="@style/Theme.UMDialog" 
		    android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        
		<activity 
		    android:name=".wxapi.WXEntryActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"
			android:configChanges="keyboardHidden|orientation|screenSize"
			android:exported="true"
			android:screenOrientation="portrait" >
        </activity>
        
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
		<activity 
		    android:configChanges="orientation|keyboard" 
		    android:launchMode="singleTask" 
		    android:name="com.tencent.tauth.AuthActivity" 
		    android:noHistory="true" >
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="tencent1103305832"/>
			</intent-filter>
		</activity>

		<activity 
		    android:name="com.tencent.connect.common.AssistActivity" 
		    android:screenOrientation="portrait" 
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
		<!-- ################### AVOS推送 ################### -->
        <service android:name="com.avos.avoscloud.PushService"/>
        <receiver 
            android:name="classes.utils.ReimBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.avos.UPDATE_STATUS" />
                <action android:name="com.rushucloud.reim.NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
        
        <!-- ################### 百度定位 ################## -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="isVHfH894tfsLVOVdXlGdlKz" />
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote" />
        
        <!-- #################### 美洽 ################### -->
		<activity
		    android:name="com.mechat.mechatlibrary.ui.ConversationActivity"
		    android:theme="@android:style/Theme.Light"
		    android:launchMode="singleTask"/>
		<activity android:name="com.mechat.mechatlibrary.ui.ZoomImageActivity"/>
		
		<service
		    android:name="com.mechat.mechatlibrary.MechatService"
		    android:label="MechatService" >
		</service>
	</application>
</manifest>
